.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
.modal-content {
  height: 35vh;
  justify-content: space-evenly;
  align-items: center;
}

.modal-body {
  align-items: center;
}

.actionButton:hover, .closeButton:hover{
  cursor: pointer;
}

#editBudgetModal{
  height: 220px;
}

.closeButton{
  position: absolute;
  right: 8px;
  top: 0;
}

#expense-table{
  max-height: 50vh;
  overflow-x: auto
}

#chart-button{
  position: absolute;
  right: 7%;
  bottom: 10%
}

table thead {
  position: sticky;
  top: 0;
  margin: 0;
  padding:0;
  border-top: 1px solid white;
}

nav {
  background-color: #395E66;
}

#buttons, #chart-button{
  background-color: #0F6F85 ;
  color: white
}